machine\ learning/checkpoint\ results/5\ folds\ 80_20\ split/model/*.h5
machine\ learning/checkpoint\ results/10\ folds\ 80_20\ split/model/*.h5

machine learning/checkpoint results/10 folds 80_20 split/independentModel/model/*.h5
machine learning/checkpoint results/10 folds 80_20 split/dependentModel/model/*.h5

machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/model 2/*h5

machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/dependent Model/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/dependent Model/model 2/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/independent model/30 epochs/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/independent model/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/independent model/100 epochs/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/data augmentation, regularization, early stopping, and learing rate schedule/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/early stopping/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/lower learning rate/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/60 epochs: data augmentation, regularization, early stopping, and learing rate schedule/model/*h5

machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/LR = 0.01 + data augmentation/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/LR = 0.001 + data augmentation/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/apply weight decay/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/data augmentation/model/*h5
machine learning/checkpoint results/10folds - 80-20 train test split (includes all subjects)/experiments/100epochsDataAugLRScheduler/model/*h5